<p>helóka</p>

<input [(ngModel)]="line1" value="{{'3x + 2y + z <= 10'}}"/>
<input [(ngModel)]="line2" value="{{'2x + 5y + 3z <= 15'}}"/>

<div id="ranges" style="width: 500px">
  <div class="d-flex flex-row">
    <input type="range" class="form-control-range" [(ngModel)]="x" min="0" max="10" (ngModelChange)="changed($event, 'x')" step="0.01"> {{x}}
  </div>
  <div class="d-flex flex-row">
    <input type="range" class="form-control-range" [(ngModel)]="y" min="0" max="10" (ngModelChange)="changed($event, 'y')" step="0.01"> {{y}}
  </div>
  <div class="d-flex flex-row">
    <input type="range" class="form-control-range" [(ngModel)]="z" min="0" max="10" (ngModelChange)="changed($event, 'z')" step="0.01"> {{z}}
  </div>
</div>

<button class="btn btn-primary" (click)="calculate()">Számolás</button>
<hr/>

<div>
  <p *ngIf="!result">Nincs eredmény</p>
  <p *ngIf="result"> eredmény: X:{{result.x}}, Y:{{result.y}}, Z:{{result.z}}</p>
  <br/>
  <p> bázis: {{this.base}}</p>
</div>
